In [181]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [182]:
train = pd.read_csv('./my_train.csv')
test = pd.read_csv('./my_test.csv')
test1 = pd.read_csv('Dataset/test.csv')

In [183]:
train.shape

(1460, 76)

In [184]:
test.shape

(1459, 75)

In [185]:
all_data = pd.concat([train,test])

In [186]:
all_data.shape

(2919, 76)

In [187]:
all_data.to_csv('all.csv', index=False)

### Seperate categorical feature for encoding

In [188]:
col = all_data.columns

In [189]:
cat_col = []

for item in col:
    if all_data[item].dtype == 'object':
        cat_col.append(item)

In [190]:
len(cat_col)

39

### Make a function for encode all the categorical columns

In [191]:
dummies = pd.get_dummies(all_data[cat_col])

In [192]:
dummies.shape

(2919, 239)

In [193]:
final_data = all_data

In [194]:
final_data.drop(cat_col,axis=1,inplace=True)

In [195]:
final_data.shape

(2919, 37)

In [196]:
final_data = pd.concat([final_data,dummies], axis=1)

In [197]:
final_data.shape

(2919, 276)

In [198]:
final_data = final_data.loc[:,~final_data.columns.duplicated()]

In [199]:
final_data.shape

(2919, 276)

In [200]:
x = final_data.loc[:1459]

In [201]:
y = final_data[1460:]

In [202]:
x.shape

(1460, 276)

In [203]:
y.shape

(1459, 276)

In [204]:
x['SalePrice'].isnull().sum()

0

In [205]:
y['SalePrice'].isnull().sum()

1459

In [206]:
y = y.drop(['SalePrice'], axis=1)

In [207]:
y.shape

(1459, 275)

In [208]:
xtrain = x.drop(['SalePrice'], axis=1)
ytrain = x['SalePrice']
xtest = y

In [209]:
xtrain.shape

(1460, 275)

In [210]:
ytrain.shape

(1460,)

In [211]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [212]:
model.fit(xtrain, ytrain)

LinearRegression()

In [213]:
xtest = model.predict(xtest)

In [214]:
xtest.dtype

dtype('float64')

In [215]:
xtest

array([112671.66574097, 161098.81028748, 189501.84054565, ...,
       180790.7903595 , 104698.43516541, 220883.18138123])

In [216]:
xtest = pd.DataFrame(xtest)

In [217]:
xtest = xtest.rename(columns={0: 'SalePrice'})

In [218]:
xtest = pd.concat([test1['Id'], xtest], axis=1)

In [219]:
xtest

        Id      SalePrice
0     1461  112671.665741
1     1462  161098.810287
2     1463  189501.840546
3     1464  196683.972427
4     1465  202081.565521
...    ...            ...
1454  2915   79624.879974
1455  2916   79917.524841
1456  2917  180790.790359
1457  2918  104698.435165
1458  2919  220883.181381

[1459 rows x 2 columns]

In [220]:
xtest.to_csv('submission.csv', index=False)

In [221]:
xtest

        Id      SalePrice
0     1461  112671.665741
1     1462  161098.810287
2     1463  189501.840546
3     1464  196683.972427
4     1465  202081.565521
...    ...            ...
1454  2915   79624.879974
1455  2916   79917.524841
1456  2917  180790.790359
1457  2918  104698.435165
1458  2919  220883.181381

[1459 rows x 2 columns]